/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,200&display=swap');

/* Content positioning and alignment */
main {
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* Reset ul */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    padding: 0 5%;
}

form li + li {
    margin-top: 1rem;
}

h1,
header p {
    text-align: center;
}

/* Make a field to fill up an entire row */
.fill_row {
    display: block;
    width: 100%;
    margin-top: 1rem;
}

form li div {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

select {
    height: 2rem;
}

button {
    margin-bottom: 1rem;
}

/* Fonts */

input,
textarea {
    font-family: inherit;
    font-size: 100%;
}

body {
    font-size: 10px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

h1 {
    font-size: 3rem;
}

header p {
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
}

ul {
    font-size: 1.2rem;
}

button {
    font-family: inherit;
    font-size: 100%;
}

/* General Design */

form {
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 700px;
    background-color: rgba(0, 0, 0, 0.87);
}

input,
select,
textarea {
    border-radius: 5px;
}

textarea {
    overflow: auto
}

body {
    background-image: url("https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: rgb(3, 194, 3);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}


/* Media queries */

@media screen and (max-width: 500px) {
    /* Positioning */
    .form {
        width: 300px;
    }

    /* Fonts */
    h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    ul {
        font-size: 0.8rem;
    }
}
