@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

/* Resets */
nav a {
    margin: 0;
    padding: 0;
}

ul, 
li {
    padding: 0;
    margin: 0;
}


/* Positioning and resizing */
body {
    font-size: 10px;
}

#header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: space-between;
    justify-content: center;
    padding-bottom: 1rem;
}

#header-img {
    height: 100px;
    width: 100px;
    margin-right: auto;
}


#nav-bar {
    display: flex;
    margin-left: auto;
    align-items: center;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

nav li {
    margin-right: 1.5rem;
}

nav ul li {
    display: inline-block;
}

main {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    text-align: center;
}

#grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

footer {
    display: flex;
    justify-content: center;
}

form ul li {
    display: inline-block;
    margin-left: 2rem;
}

#how-it-works {
    width: 600px;
}

#frame-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


/* Decorative CSS */

header {
    background-color: white;
}

nav ul {
    list-style: none;
}

.nav-link:hover {
    background-color: white;
    color: black
}

.nav-link {
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px;
    text-decoration: none;
}

header {
    border-bottom: 1px solid black;
}

.card {
    border: 2px solid black;
    border-radius: 5px;
    width: 230px;
    height: 230px;
    overflow-y: auto;
}

.card h3 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
}

.car p {
    overflow: auto;
}

/* Fonts */

h1 {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

nav {
    font-family: sans-serif;
    font-size: 1.5rem;
}

.card {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.8rem;
}

/* Media queries */

@media screen and (max-width: 900px) {

    #grid-cards {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .card {
        width: auto;
        max-width: 70vw;
    }


}

@media screen and (max-width: 650px) {

    #header {
        padding-bottom: 0;
    }

    #how-it-works {
        width: 80%;
    }

    nav ul {
        height: 100%;
    }

    nav ul li {
        display: block;
        margin-right: 0;
        height: 33.33333%;
    }
    
    .nav-link {
        all: initial;
        color: white;
        display: block;
        height: 100%;
        width: 100%;
        background-color: black;
        text-align: center;
    }




}