@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


p {
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 50px;
    text-shadow: 3px 2px 3px black;
    text-transform: full-width;
    line-height: 20px;
}