/* General  */
body {
    margin: 0;
}

#total-container {
    font-size: 10px;
}

#navbar ul,
#navbar li {
    margin: 0;
    padding: 0;
}

/* Navbar */

.nav-link,
#navbar header {
    padding-left: 1rem;
}

.nav-link {
    text-decoration: none;
    display: block;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-top: 1px solid black;
    font-size: 1.2rem;
}

#navbar ul {
    list-style: none;
}

#navbar header {
    padding-bottom: 0.5rem;
}

#navbar {
    position: fixed;
    padding-top: 1rem;
    top: 0;
    width: 270px; 
    height: 100vh;
}

#navbar > header {
    font-size: 2rem;
}

/* Main document */

#main-doc {
    border-left: 0.5rem solid grey;
    padding-left: 1rem;
    margin-left: 290px;
    margin-right: 4rem;
}

.main-section {
    font-size: 1.2rem;
}

.main-section:nth-child(1) > header {
    margin-top: 1rem;
}

/* Each section */

.main-section header {
    font-size: 1.5rem;
}

.main-section:nth-child(n+2) > header {
    margin-top: 2rem;
}

.main-section > div {
    padding-left: 2rem;
}

.main-section > div > ul > li:nth-child(n+2) {
    margin-top: 1rem;
}

.main-section > div > code {
    font-size: 1rem;
    display: block;
    margin: 1rem 0;
    background-color: rgb(228, 227, 227);
}
 
/* Media queries */

@media screen and (max-width: 950px) {

    /* Navbar */

    #navbar {
        position: static;
        height: initial;
        width: initial;
    }

    #navbar header {
        text-align: center;
    }

    #navbar ul {
        border: 3px solid black;
        height: 131px;
        overflow-y: auto;
    }

    /* Main section */

    #main-doc {
        margin-left: initial;
        border-left: none;
    }



}